<div class="container">
    <div class="top-bar">
        <!-- Logo -->
        <div class="logo">
            <img src="./assets/icon/logo.png" alt="logo" class="logo__img" />
            <h1 class="logo__name">grocerymart</h1>
        </div>

        <!-- navbar -->
        <div class="navbar">
            <ul>
                <li>
                    <a href="#!" class="navbar__link">
                        <img
                            src="./assets/icon/arrow-down.svg
                        "
                            alt=""
                            class="navbar__arrow"
                        />
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        <img
                            src="./assets/icon/arrow-down.svg
                        "
                            alt=""
                            class="navbar__arrow"
                        />
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        <img
                            src="./assets/icon/arrow-down.svg
                        "
                            alt=""
                            class="navbar__arrow"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
