<header class="header">
    <div class="container">
        <div class="header__main">
            <!-- more -->
            <img
                src="./assets/icons/toggle.svg"
                alt=""
                class="icon header__toggle"
            />

            <!-- logo -->
            <a href="/">
                <div class="logo">
                    <img
                        src="./assets/icons/logo.svg"
                        alt=""
                        class="logo__img"
                    />
                    <h2 class="logo__title">grocerymart</h2>
                </div>
            </a>

            <!-- Top-bar -->
            <nav class="nav-bar">
                <ul class="nav-bar__list">
                    <a href="#!">
                        <li class="nav-bar__item">
                            <p class="nav-bar__title">Departments</p>
                            <img
                                src="./assets/icons/arrow-down.svg"
                                alt=""
                                class="icon nav-bar__toggle"
                            />
                        </li>
                    </a>
                    <a href="#!">
                        <li class="nav-bar__item">
                            <p class="nav-bar__title">Grocery</p>
                            <img
                                src="./assets/icons/arrow-down.svg"
                                alt=""
                                class="icon nav-bar__toggle"
                            />
                        </li>
                    </a>
                    <a href="#!">
                        <li class="nav-bar__item">
                            <p class="nav-bar__title">Beauty</p>
                            <img
                                src="./assets/icons/arrow-down.svg"
                                alt=""
                                class="icon nav-bar__toggle"
                            />
                        </li>
                    </a>
                </ul>
            </nav>

            <!-- Top action -->
            <div class="action">
                <div class="action__group">
                    <button class="action__btn">
                        <img
                            src="./assets/icons/search.svg"
                            alt=""
                            class="icon action__features"
                        />
                    </button>
                </div>
                <div class="action__group">
                    <button class="action__btn">
                        <img
                            src="./assets/icons/heart.svg"
                            alt=""
                            class="icon action__features"
                        />
                        <span class="action__statistical">03</span>
                    </button>
                    <div class="action__separate"></div>
                    <button class="action__btn">
                        <img
                            src="./assets/icons/buy.svg"
                            alt=""
                            class="icon action__features"
                        />
                        <span class="action__statistical">$65.42</span>
                    </button>
                </div>
                <div class="action__user">
                    <img
                        src="./assets/images/user.png"
                        alt=""
                        class="action__user-img"
                    />
                </div>
            </div>
        </div>
    </div>
</header>
