<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more icon">
            <img src="./assets/icon/more.svg" alt="more" />
        </button>
        <!-- Logo -->
        <a href="./" class="logo">
            <img src="./assets/icon/logo.png" alt="logo" class="logo__img" />
            <h1 class="logo__title">grocerymart</h1>
        </a>

        <!-- navbar -->
        <div class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Departments
                        <img
                            src="./assets/icon/arrow-down.svg
                        "
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                    <div class="drop-down">
                        <img
                            src="./assets/icon/triangle.svg"
                            alt=""
                            class="drop-down__icon"
                        />
                        <div class="drop-down__inner">
                            1 Buổi sáng, mặt trời lên nhẹ nhàng sau những áng
                            mây trắng lững lờ trôi trên bầu trời xanh. Gió thổi
                            nhẹ làm lay động hàng cây bên đường, tiếng chim hót
                            vang vọng tạo nên bản hòa âm của thiên nhiên. Một
                            cậu bé ngồi bên bàn học trong ngôi nhà nhỏ, chăm chú
                            viết bài bằng cây bút bi màu xanh. Trên bàn là quyển
                            vở đã đầy chữ, bên cạnh là ly sữa còn bốc khói.
                            Ngoài cửa sổ, hoa trong vườn đang nở rộ, khoe sắc
                            dưới nắng mai. Một ngày mới bắt đầu, mang theo bao
                            hy vọng và ước mơ đang lớn dần theo năm tháng.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Grocery
                        <img
                            src="./assets/icon/arrow-down.svg
                        "
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                    <div class="drop-down">
                        <img
                            src="./assets/icon/triangle.svg"
                            alt=""
                            class="drop-down__icon"
                        />
                        <div class="drop-down__inner">
                            2 Buổi sáng, mặt trời lên nhẹ nhàng sau những áng
                            mây trắng lững lờ trôi trên bầu trời xanh. Gió thổi
                            nhẹ làm lay động hàng cây bên đường, tiếng chim hót
                            vang vọng tạo nên bản hòa âm của thiên nhiên. Một
                            cậu bé ngồi bên bàn học trong ngôi nhà nhỏ, chăm chú
                            viết bài bằng cây bút bi màu xanh. Trên bàn là quyển
                            vở đã đầy chữ, bên cạnh là ly sữa còn bốc khói.
                            Ngoài cửa sổ, hoa trong vườn đang nở rộ, khoe sắc
                            dưới nắng mai. Một ngày mới bắt đầu, mang theo bao
                            hy vọng và ước mơ đang lớn dần theo năm tháng.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Beauty
                        <img
                            src="./assets/icon/arrow-down.svg
                        "
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                    <div class="drop-down">
                        <img
                            src="./assets/icon/triangle.svg"
                            alt=""
                            class="drop-down__icon"
                        />
                        <div class="drop-down__inner">
                            3 Buổi sáng, mặt trời lên nhẹ nhàng sau những áng
                            mây trắng lững lờ trôi trên bầu trời xanh. Gió thổi
                            nhẹ làm lay động hàng cây bên đường, tiếng chim hót
                            vang vọng tạo nên bản hòa âm của thiên nhiên. Một
                            cậu bé ngồi bên bàn học trong ngôi nhà nhỏ, chăm chú
                            viết bài bằng cây bút bi màu xanh. Trên bàn là quyển
                            vở đã đầy chữ, bên cạnh là ly sữa còn bốc khói.
                            Ngoài cửa sổ, hoa trong vườn đang nở rộ, khoe sắc
                            dưới nắng mai. Một ngày mới bắt đầu, mang theo bao
                            hy vọng và ước mơ đang lớn dần theo năm tháng.
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- top-act -->
        <div class="top-act">
            <div class="top-act__group">
                <button class="top-act__btn top-act__btn--small">
                    <img
                        src="./assets/icon/search.svg"
                        alt="search"
                        class="icon top-act__icon"
                    />
                </button>
            </div>
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icon/heart.svg"
                        alt="search"
                        class="icon top-act__icon"
                    />
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img
                        src="./assets/icon/buy.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <div class="top-act__face">
                <img
                    src="./assets/img/header-face.jpg"
                    alt="face user"
                    class="top-act__img"
                />
            </div>
        </div>
    </div>
</div>
